
@import './variables';

* {
  box-sizing: border-box;
  outline: none;
}

input[type="text"] {
  @include textInput();
}


.mainPage {
  display: flex;
  justify-content: center;

  .contentWrapper {
    width: 600px;
  }

  .postFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    button {
      @include brandButton();
    }
  }

  .postList {
    margin-top: $broadSpace;
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 1px 2px 1px rgba(158, 158, 158, 0.178);

    .postName {
      width: 30%;
      text-align: center;
    }

    .postDesc {
      width: 50%;
    }

    .postAction {
      width: 20%;
      text-align: center;
    }

    .postListHeader  {
      display: flex;
      background-color: rgb(224, 224, 224);
      padding: 8px 0;
    }

    .postItem {
      display: flex;
      align-items: center;
      & > div {
        padding: $closeSpace 3px;
      }

      .postAction {

        button {
          @include brandButton();
          background-color: red;
          color: white;
        }        
      }
    }

  }

  .postForm {
    margin-top: $broadSpace;
    display: flex;
    justify-content: space-between;

    button {
      @include brandButton();
    }
  }

  .errorMessage {
    color: red;
    display: flex;
    margin-top: calc(#{$closeSpace} / 2);
    font-size: 12px;
  }
}

