
@import './variables';

* {
  box-sizing: border-box;
  outline: none;
}

input[type="text"] {
  @include textInput();
}


.mainPage {
  display: flex;
  justify-content: center;

  .contentWrapper {
    width: 500px;
  }

  .postFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    button {
      @include brandButton();
    }
  }

  .postList {
    margin-top: $broadSpace;

    .postName {
      width: 30%;
      text-align: center;
    }

    .postDesc {
      width: 50%;
    }

    .postAction {
      width: 20%;
      text-align: center;
    }

    .postListHeader  {
      display: flex;
      background-color: rgb(224, 224, 224);
      padding: 8px 0;
    }

    .postItem {
      display: flex;
      
      & > div {
        padding: 4px 3px;
        padding-top: $closeSpace;
      }

      .postAction {

        button {
          @include brandButton();
          background-color: red;
          color: white;
        }        
      }
    }

  }

  .postForm {
    margin-top: $broadSpace;
    display: flex;
    justify-content: space-between;

    button {
      @include brandButton();
    }
  }
}

